<%- include('../partials/header')%>

    <div class="container">
        <header class="jumbotron">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground!</a>
            </p>
        </header>

        <div class="row text-center">

            <% data.forEach((campsite) => { %>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="<%= campsite.image %>" alt="<%= campsite.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= campsite.name %></h5>
                            <a href="/campgrounds/<%= campsite._id %>" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            <% }); %>

        </div>
    </div>


<%- include('../partials/footer')%>
