<%- include('../partials/header') %>

<div class="container">
    <h1 style="text-align: center">Edit Comment</h1>

    <div class="" style='width: 50%; margin: 25px auto'>
        <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="text" value="<%= comment.text %>">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
        <a class="btn btn-secondary btn-md mt-3" href="/campgrounds">Go Back</a>
    </div>

</div>

<%- include('../partials/footer') %>